<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-5">
        <form #loginForm="ngForm">
            <div class="form-group">
              <input [(ngModel)]="dto.email" name="email" type="email" class="form-control" id="email" dir="auto" placeholder="ایمیل" required>
              
            </div>
            <div class="form-group">
              <input [(ngModel)]="dto.password" name="password" type="password" class="form-control" dir="auto" id="password" placeholder="رمز عبور" required>
        
            </div>
            <input type="submit" [disabled]="!loginForm.form.valid" (click)="login()" class="btn btn-success" value="تایید">
          </form>
    </div>
  </div>
</div>