
<div class="card text-right">
    <img *ngIf="advertData.imageUrl" class="card-img-top" src="{{advertData.imageUrl}}" alt="Card image cap">
    <div class="card-body ">
      <h5 class="card-title" >
        <p class="text-right">{{advertData.title}}</p>
      </h5>
      <p class="card-text text-right "> {{advertText}} </p>
      <p class="text-primary"(click)="showFullAdvertText()" *ngIf="shouldShowSeeMoreOption()">ادامه</p>     
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><p class="card-text"><span class="text-muted"> توسط : {{advertData.author.name}} </span></p></li>
      <li class="list-group-item"><p class="card-text"><span class="text-muted"> تلفن: {{advertData.phoneNo}} </span></p></li>
      <li class="list-group-item"><p class="card-text"><span class="text-muted"> تاریخ درج: {{advertData.persianCreationTime}} </span></p></li>
    </ul>
</div>

