
<div class="container">
  <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body ">
              <div class="row" style="display: table;">
                <div class="col-11" style="display: table-cell;">
                    <h5 class="card-title" >
                        <p class="text-right">{{advertData.title}}</p>
                      </h5>
                      <i class="far fa-clock"></i>
                      <p class="card-text">{{advertData.text | dotdotdot:10}} </p>    
                </div>
                <div class="col-1 " style="display: table-cell; vertical-align: bottom; float: none;">
                      <a name="" id="" class="btn btn-primary " href="#" role="button">مشاهده</a>   
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              <div class="row" >
                <div class="col">
                    <i class="far fa-clock" ></i>
                    <span>22/1/98</span>
                </div>
                <div class="col">
                  توسط: علی امیری-دانشکده برق و کامپیوتر
                </div>
              </div>
                
            </div>
        </div>
    </div>
    
      
  </div>
    
</div>
