
<!-- <div class="container text-right" >
  <div class="row  my-2 " *ngFor="let advert of announcements">
    <div class="col ">  
        <app-adver-card   [advertData]="advert"></app-adver-card>      
    </div>
  </div>
</div> -->
<div class="alert alert-success text-right" role="alert" *ngIf="adsNo>0">
  {{adsNo}} آگهی پیدا شد
</div>
<div class="card-columns">
  <app-adver-card [advertData]="advert" *ngFor="let advert of announcements"></app-adver-card>
</div>

<div class="container" *ngIf="this.pageSize*this.pageNumber < this.adsNo">
  <div class="row justify-content-center">
    <div class="col-3">
      <!-- <button class="btn btn-primary m-1"> < بعد </button>
      <button class="btn btn-primary m-1">قبل >  </button> -->
      <button class="btn btn-primary m-1" (click)="loadMore()">موارد بیشتر</button>
    </div>
  </div>
</div>


